body{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    margin-top: 15px;
}
div{
    display: flex;
    border-top: 1px solid grey;
    flex-direction: column;
    justify-content: right;  
    margin-bottom: 5px;
}
.pokemon{
    border-radius: 10px;
    border: 2px solid black;
    width: auto;
    height: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
a{
    font-weight: bold;
}
